@font-face {
    font-family: 'Comfortaa';
    src: url('../../public/fonts/static/Comfortaa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../public/fonts/static/Comfortaa-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../public/fonts/static/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Global styles */
body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0EAD2;
    display: flex; 
}

.chats-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background-color: #DDE5B6;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden; 
}